
%form{:method => "post", :action => "/bookmarks/"}
  %input{:type => "hidden", :name => "_method", :value => "put"}
  %input{:type => "hidden", :name => "id", :id => "id", :value =>"#{@book_mark.id}" }
  %label Title:
  %input{:type => "text", :name => "title", :id => "title", :value =>"#{@book_mark.title}" }
  %br
  %label URL:
  %input{:type => "text", :name => "link", :id => "link", :value => "#{@book_mark.link}"}
  %br
  %input{:type => "submit", :value => "Update"}

%a{:href => "/bookmarks/#{@book_mark.id}"}
  << Back