%label Bookmark:
%a{:href => "#{@book_mark.link}"} 
  = @book_mark.title
%form{:method => "post", :action => "/bookmarks/"}
  %input{:type => "hidden", :name => "_method", :value => "delete"}
  %input{:type => "submit", :value => "Delete"}
  %label  or
  %a{:href => "/bookmarks/#{@book_mark.id}/edit"}
    Edit 

%a{:href => '/'}
  << Back